.fila {
  background-color: rgb(27, 26, 26);
  position: relative;
  padding: 20px;
}

.fila-posters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 10px;
  scroll-behavior: smooth;
  padding: 20px 0;
}
.izquierda {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.derecha {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.flecha {
  background: transparent;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
}

.titulo-fila {
  color: white;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}