.navbar {
  display: flex;
  align-items: center;
  padding:
    clamp(10px, 2vw, 20px) clamp(20px, 5vw, 60px);
  width: 100%;
  left: 0;
  justify-content: space-between;

  /*para que se quede en la parte de arriba y encima del banner*/
  top: 0;
  position: fixed;
  box-sizing: border-box;
  z-index: 1000;


  /*fondito bonito con blur y grandiente*/
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.85),
      transparent);
  backdrop-filter: blur(1px);
  transition: background-color 0.6s ease;
}

/*cambio de fondo cuando baja el scroll*/
.navbar.scrolled {
  background-color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

/*logo*/
.nav-logo {
  height: clamp(14px, 2vw, 24px);
  cursor: pointer;
  object-fit: contain;
  padding-right: 10px;
}

/*cluster izquierda*/
.nav-left {
  display: flex;
  align-items: center;
  gap: clamp(0.1rem, 2vw, 1.125rem);
}

/*cluster derecha*/
.nav-right {
  display: flex;
  align-items: center;
  gap: clamp(10px, 2vw, 32px);
}

/*botones*/
.nav-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
  cursor: pointer;
  transition: 0s;
}

.explorar-btn {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: clamp(0.5rem, 1.2vw, 2rem);
  cursor: pointer;
  transition: 0.3s;
}


.nav-btn:hover {
  color: rgb(221, 221, 221);

}

.explorar-btn:hover {
  color: rgb(221, 221, 221);
}

.nav-lupa {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  fill: white;
}

.nav-campana {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  fill: white;
}

.nav-usuario {
  width: 26px;
  height: auto;
  cursor: pointer;
}

/*resizing dinamico*/
/*cambio a pantalla pequenia y desaparecen botones*/
@media (max-width: 768px) {

  /*cuando pantalla es menor a 768px*/
  .nav-left .nav-btn {
    display: none;
  }

  .explorar-btn {
    display: block;
  }
}

/*menu hamburguesa*/
.menu-hamburguesa-explorar {
  position: absolute;
  top: 60px;
  left: 20px;

  background: black;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.menu-hamburguesa-explorar.open {
  opacity: 1;
  pointer-events: auto;
}

.btn-menu-exp {
  background: none;
  border: none;
  color: white;

  text-align: left;
  font-size: 14px;

  cursor: pointer;
  transition: 0.2s;
}

.btn-menu-exp:hover {
  color: #ccc;
}