.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  box-sizing: border-box;
}

/*logo*/
.nav-logo {
  height: 24px;
  cursor: pointer;
  object-fit: contain;
  padding-right: 10px;
}

/*izquierda*/
.nav-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

/*derecha*/
.nav-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

/*botones*/
.nav-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  color: rgb(221, 221, 221);
}

.nav-lupa {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  fill: white;
}

.nav-campana {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  fill: white;
}

/*cambio a pantalla pequenia*/
@media (max-width: 768px) {

  /*cuando pantalla es menor a 768px*/
  .nav-left .nav-btn {
    display: none;
  }

  .navbar {
    padding: 10px 15px;
  }


}